.un
{position:absolute;
  background-color: blue;

  height: 100px;
  width: 210px;
  border: #365C8C 2px solid;

}
.deux
{
position:absolute;
  background-color: red;
 height: 100px;
  width: 100px;
margin-top: 111px;
border: #365C8C 2px solid;
}
.trois
{position:absolute;
  background-color: black;
 height: 100px;
  width: 100px;
margin-top: 111px;
border: #365C8C 2px solid;
margin-left: 110px;
}
